// Place all the styles related to the Api::Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-update-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: -3px;
}

.event-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F5F5F5;
  width: 70%;
  padding: 10px;
  margin-bottom: 60px;
}

.event-form-input {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 300%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}


.event-form-input-description {
  height: 150px;
  border: 1px solid #E8E8E8;
  width: 300%;
  padding: 10px;
  background-color: white;
}

.event-submit {
  background-color: #00AB44;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
  margin-right: 20px;
}

.event-delete {
  background-color: #f2303d;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
  margin-right: 20px;
}


.edit-button {
  background-color: #00AB44;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 12px;
}

.start-end-dates {
  display: flex;
}

.event-form-input-date {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 81%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.image-upload-button {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  border-top: 1px solid #F5F5F5;
}

.form-title {
display: flex;
font-size: 24px;
margin: 30px 20px;
font-weight: 100;
color: #363A43;
}

.divider {
  width: 100%;
  height: 48px;
  background-color: #45494E;
}

.form-errors {
  border: 1px solid yellow;
}

.event-details-section-header-details {
  display: flex;
  width: 70%;
}

.event-details-section-header {
  display: flex;
  width: 100%;
}

.event-details-num {
  margin: 15px 0px;
  background-color: #0093D7;
  font-size: 36px;
  color: white;
  justify-content: center;
  display: flex;
  width: 44px;
  padding: 5px
}

.event-details-title {
  margin: 15px 0px;
  font-size: 28px;
  color: gray;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid gray;
  width: 100%
}

.eventForm-label {
  margin-bottom: 5px;
}

.privacy-radio {
  display: flex;
}

.event-form-dropdown {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 150%;
  height: 45px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  font-weight: 200;
  border: 1px solid #E8E8E8;
}

.img-url-confirm {
  margin: 15px 0;
}

.form-errors {
  font-weight: bold;
  background-color: white;
  padding: 10px;
  color: black;
}

.form-error-item {
  margin: 5px 0px ;
}

/*event index page*/

.event-index-page {
  display: flex;
  flex-direction: column;
}

.large-splash-image-container {
  display: flex;
  height: 390px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.large-splash-image {
  // object-fit: cover;
}

.search-bar-over-background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 180px;
  background-color: white;
  // left: 10%;
  top: -120px;
  font-size: 40px;
  color: #F6682F;
  border-radius: 5px;
  align-self: center;
}

.event-index-item {
  display: inline-block;
  width: 33.33%;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 15px;
  min-width: 250px;
}

.event-index-item-image-container {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

.event-index-item-image {

  height: 250px;

}

.event-index-listings {
  margin-top: 50px;
  display: block;
  margin-left: 103.6px;
  margin-right: 103.6px;
  margin-bottom: 70px;
}

.event-index-item-start {
  color: #7E7E7E;
  font-size: 14px;
}

.event-index-item-title {
  margin: 5px;
  margin-left: 0px;
}

.event-index-item-location {
  font-size: 12px;
  color: #7E7E7E

}

.divider-text {
  margin-top: -80px;
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 26px;
  color: gray
}

.event-index-details-box {
  height: 90px;
  border: 1px solid lightgray;
  letter-spacing: 1px;
  padding: 10px;
  overflow: hidden;
}

/*event show*/

.event-show-page {
  /*width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;*/
}

.event-show-background-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.event-show-background-image {
  width: 100%;
  height: 500px;
  -webkit-filter: blur(50px);
}

.event-show-popup {
  /*display: flex;*/
  width: 80%;
  align-items: center;
  border: 1px solid #E8E8E8;
  top: 110px;
  left: 115px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.event-show-popup-header-container {
  display: flex;
  width: 100%;
  height: 340px;
  border-radius: 5px;
}

.event-show-image {
  display: block;
  width: 70%;
  height: 340px;
  object-fit:cover;
}

.event-show-title-date {
  display: block;
  width: 100%;
  height: 340px;
  background-color: #F5F5F5;
  padding: 25px;
  box-sizing: border-box;
}

.event-show-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.event-show-mon {
  color: gray;
  font-weight: 100;
  font-size: 12px;
}

.event-show-date {
  color: gray;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.show-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  height: 65px;
  padding: 15px;
  box-sizing: border-box;
}

.show-page-tickets-button {
  background-color: #00AB44;
  padding: 15px;
  color: white;
  width: 27.5%;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.event-details {
  display: flex;
  box-sizing: border-box;
  padding: 60px 15px;
  margin: 0px 86px 0px 86px;
}

.organizer-details {
  display: flex;
  box-sizing: border-box;
  padding: 60px 15px;
  margin: 0px 86px 0px 86px;
}

.event-show-description {
  display: flex;
  flex-direction: column;
  width: 580.16px;
}

.event-description-header {
  width: 580.16;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-description {
  width: 75%;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
}

.event-location-time {
  /*width: 345px;*/
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 45px;
}

.event-show-logistic-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-show-start-time {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;
}


.event-show-end-time {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;

}

.event-show-location {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;

}

.event-form-ticket-creation {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  color: #66A73;
  display: flex;
  justify-content: center;

}

.ticket-label {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.event-form-ticket-header {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px
}

.event-form-ticket-name {
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.event-form-ticket-quantity {
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;

}

.event-form-ticket-price {
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;

}

.ticket-delete-button {
  background-color: #F6682F;
  padding: 5px;
  color: white;
  font-size: 20px;
  margin: 25px;
}

.event-index-filters {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.category-index-filter {
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
}

.category-index-filter:hover {
  cursor: pointer;
}

.music-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
}

.food-and-drink-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.classes-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.arts-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.parties-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.sports-and-wellness-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.networking-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.unauthorized-user {
  margin:auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  background-color: white;
  left: 10%;
  top: -120px;
  font-size: 40px;
  font-weight: 100;
  color: #F6682F;
  border-radius: 5px
}

.event-form-buttons {
  display: flex;
}

// source: http://css3.bradshawenterprises.com/cfimg/
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 30s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 20s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 10s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}


#cf4a img{
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  position: absolute;
  left: 0;
}
