.navbar {
  display: flex;
  border-bottom: 1px solid $borders;
  justify-content: space-between;

}

.logo {
  color: $tomato;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  border-right: 1px solid $borders;
}

.navlinks {
  display: flex;

}

.navlinks li {
  font-size: 14px;
  color: $fontColor;
  padding: 20px;
  border-left: 1px solid $borders;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}
.navlinks li a {
  vertical-align: bottom;

}
