
$tomato: #f26c45;
$white: #ffffff;
$hovered: #eff1f5;
$borders: #f2f3f6;

$createEvent: #415972;
$help: #3e74b8;
$currentLocation: #217f8a;
$fontColor: #676872;
$footer-background: #484b50;
$footer-font-color: #484b50;
